.TextHide {
    color: transparent;
    background-color: #00000011;
}

.TextHide p {
    padding: 0.3rem 0.5rem;
    margin: 0;
}

.TextHide:hover {
    color: #00DDDD;
    background-color: #00000066;
}


img {
    width: 80%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #181818;
    color: #EEEEEE;
}