/* 内容居中：https://blog.csdn.net/qq_36168749/article/details/102601044 */

ul.Horizontal {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    margin: 0 auto;
    width:fit-content;
}
 
ul.Horizontal li {
    margin:0 auto;

    padding: 0;
    /* display:flex; */
    /* flex: 1; */
    float: left;
    /* display:inline-block; */
    /* width:25%; */

}

ul.Horizontal li:after{
	content:'';
	display:block;
	clear:both;
    background-color:#FF0000;
}

ul.Horizontal li a {
    display:block;
    width:200px;
    font-weight:bold;
    color:#FFFFFF;
    text-align:center;
    padding:15px;
    text-decoration:none;
    text-transform:uppercase;

    padding: 0 20px;
    line-height: 58px;

}

ul.Horizontal li  a:hover {
    background-color: #111;
}

ul.Horizontal li a.active {
    background-color: #232323;
}

